/* Estilos Menu Ransa Frio */

.sf-menu a, sf-menu a:visited   { 
	/* visited pseudo selector so IE6 applies text colour*/
	color:#663300;
}

.sf-menu li {
	background:url(../images/internas/fbottorre.gif) no-repeat;
	width:170px;
	height:26px;
}

.sf-menu li li { background:#ffcb4f; color:#663300; }

.sf-menu a.arrow:hover { background:#ea7125 url(../images/internas/arrow-white.png) no-repeat scroll right; background-position:160px 50%; font-weight:bold;}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, sf-menu a:link {
	background:#ea7125 url(../images/internas/arrow-white.png) no-repeat scroll 7px 50%; 
	outline:0; color:#663300; /*font-weight:bold;*/
}

/*.sf-menu li:hover, .sf-menu li.sfHover { color:#ffffff; }*/

.sf-menu li a { background:url(../images/internas/arrow-white.png) no-repeat scroll 7px 50%; color:#ea7125; }

.sf-menu li a, .sf-menu li li a, .sf-menu li li li a, .sf-menu li li li li a { color:#663300; }

.main { font-weight:bold; }
.main a { color:#663300 !important; }